<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">MyApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- You can add other navigation links here -->
      </ul>
      <!-- Conditionally Show Login or Logout based on Token -->
      <form class="d-flex" role="search">
        <!-- Show Login button if token is not present -->
        <button *ngIf="!isLoggedIn" class="btn btn-outline-success" type="button" routerLink="/login" routerLinkActive="active">Login</button>

        <!-- Show Logout button if token is present -->
        <button *ngIf="isLoggedIn" class="btn btn-outline-danger" type="button" (click)="logout()">Logout</button>
        <div>"  "  </div>
        <button *ngIf="!isLoggedIn" class="btn btn-outline-success" type="button" routerLink="/register" routerLinkActive="active">Register</button>

      </form>
    </div>

  </div>
</nav>

<!-- This will render the routed component below -->
<router-outlet></router-outlet>
